.Mega input {
    font-size: 1.4rem;
    width: 50px;
}

.Mega button {
    margin-top: 10px;
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
}